.trial {
    text-align: left;
    padding: 20px 60px;
    background-color: aquamarine;
    border-radius: 5%;
    width: 350px;
    flex-direction: column;
    text-justify: auto;
    justify-content: center;
  }
  button{
      display: block; /* Ensures the button takes up the full width */
      margin: 20px auto; /*  Centers the button horizontally */
    
  }
  fieldset {
    border: none;
  }
  
  legend {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  table.center td {
    padding: 10px;
    text-align: left;
  }
  
 